<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <a class="navbar-brand fw-bold brand-text" href="#">Swift</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" href="colab-home.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="colab-vendas.html">Minhas vendas</a>
        </li>
        <li class="nav-item ms-lg-3">
          <span class="badge badge-soft rounded-pill px-3 py-2"
            >Olá, <span id="welcomeName">Usuário</span></span
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
